In [2]:
url =  'https://www.sec.gov/Archives/edgar/full-index/2022/QTR3/master.idx'

In [2]:
import pandas as pd

url = 'https://www.sec.gov/Archives/edgar/full-index/2022/QTR3/master.zip'
user_agent = {'User-Agent': 'Bryant University, dlouton@bryant.edu'}

df = pd.read_csv(url, sep = '|', skiprows = 9, low_memory=False, storage_options = user_agent)

In [3]:
df.head()

,CIK,Company Name,Form Type,Date Filed,Filename
0,----------------------------------------------...,NaN,NaN,NaN,NaN
1,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-08-10,edgar/data/1000045/0000950170-22-016293.txt
2,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000004.txt
3,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000005.txt
4,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000006.txt

In [4]:
df.dropna()

,CIK,Company Name,Form Type,Date Filed,Filename
1,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-08-10,edgar/data/1000045/0000950170-22-016293.txt
2,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000004.txt
3,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000005.txt
4,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000006.txt
5,1000045,NICHOLAS FINANCIAL INC,4,2022-09-01,edgar/data/1000045/0001000045-22-000007.txt
...,...,...,...,...,...
234408,9984,BARNES GROUP INC,4,2022-08-16,edgar/data/9984/0000009984-22-000154.txt
234409,9984,BARNES GROUP INC,4,2022-09-06,edgar/data/9984/0000009984-22-000156.txt
234410,9984,BARNES GROUP INC,4,2022-09-13,edgar/data/9984/0000009984-22-000158.txt
234411,9984,BARNES GROUP INC,8-K,2022-07-29,edgar/data/9984/0000009984-22-000126.txt
234412,9984,BARNES GROUP INC,S-8,2022-07-14,edgar/data/9984/0000009984-22-000118.txt

In [6]:
df.shape

(234413, 5)

In [7]:
len(df)

234413

In [13]:
df['Form Type'].value_counts()

4           70823
424B2       25290
8-K         15993
NPORT-P     12465
D            9678
            ...
20FR12G         1
25/A            1
15F-15D         1
10-KT/A         1
8-K12B/A        1
Name: Form Type, Length: 331, dtype: int64

In [16]:
df['Form Type'].value_counts().head(5)

4          70823
424B2      25290
8-K        15993
NPORT-P    12465
D           9678
Name: Form Type, dtype: int64

In [23]:
df.groupby(['CIK','Company Name','Form Type']).size().head()

CIK      Company Name            Form Type
1000045  NICHOLAS FINANCIAL INC  10-Q         1
                                 4            5
                                 8-K          8
                                 DEF 14A      1
                                 DEFR14A      1
dtype: int64

In [32]:
def searcher(input,df):
    CIK_input=df[df['CIK']==input]
    formtypes=CIK_input['Form Type'].value_counts()
    return formtypes

In [34]:
searcher('320193', df)

4        9
8-K      3
424B2    2
10-Q     1
4/A      1
FWP      1
Name: Form Type, dtype: int64